body {
    font-family: 'Roboto', sans-serif, Helvetica;
    margin: 0;
}

.section-2 {
    background-color: #228b22;
    padding: 120px 0;
    
}

.section-1 {
    background-color: #351d08;
    padding: 6px 0;
}

.section-4 {
    background-color: #fcffa4;
    padding: 200px 0 200px 0;
    justify-content: center;
    
}

.header {
    display: flex;
    justify-content: space-between; 
    
}

.img img{
    display: flex;
   
    align-items: center ;
    justify-content: center; 
    width: auto;
    height: 300px;
    border-radius: 10%;
  
}

.midimg img{
    width: auto;
    height: 300px;
    
    
}
.logo img {
    display: flex;
    align-items: center;
    height:auto;
    width:80px;
}

.right, .left {
    display: flex;
    align-items: center;
    gap: 16px;
    
}

.right {
    font-size: 21px;
    font-weight: bolder;  
}



a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    gap: 40px;
    list-style-type: none;

}

.maintext, .subtext {
    display: flex;
    flex-wrap: wrap;
    color: white;
    
}

.maintext {
    font-size: 48px;
    font-weight: bolder;
    margin: 0 0 10px 0;
    width: 400px;
}

.subtext {
    font-size: 18px;
    display: flex;
    width: 400px;
    margin: 10px 0
}

button {
    font-weight: bold;
    background-color: #ffb300;
    font-size: 18px;
    margin-top: 10px;
    width: 130px;
    height: 40px;
    color: white;
    
}

.left2 {
    margin-top: 30px;
    padding-right: 200px;
}

.left2 button {
    border:solid 2px white;
    border-radius: 10px;
}
.header-2 {
    
    display: flex;
    justify-content: space-between;
}



.header, .header-2 {
    margin: 0 200px;
}

.above {
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin: 50px;

}
.below-boxes {
    display: flex;
    justify-content: center;

}

.pic img {
    margin: 0 30px;   
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.below-names, .below-titles {
    display: flex;
    justify-content: center;
}
.tx, h2{
    
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 200px;
    margin: 10px 30px;
    text-align: center;
}   

.tx {
    margin-bottom: 90px;
}



.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    width: 1150px;

    /*/padding-top: 30px;*/
}

.cent {
    display: flex;
    justify-content: center;
}

.author {
    font-size: 24px;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding-right: 380px;
}
.section-5 {
    display: flex;
    justify-content: center;
}
.rect {
    display: flex;
    background-color: #228b22;
    border: solid 5px #228b22;
    margin: 130px 0;   
    width: 1400px;
    height: 200px;
    border-radius: 25px;
    flex-wrap: wrap;
    justify-content: space-around;

}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    align-content: center;
    color: white;
    
}

.rightcontent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.up {
    font-size: 24px;
    margin-bottom: 6px;
    font-weight: bold;
    width: 500px;   
}

.signup {
    color: white;
    background-color: #ffb300;
    border: solid 2px white;
    border-radius: 10px;
}



.footer {
    display: flex;
    justify-content: center;
    background-color: #351d08;
    padding: 40px 0
}

.copyright {
    color:white;
}
