body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.section-1, .section-2 {
    background-color: #1F2937;
    padding-bottom: 120px;
}

.header {
    display: flex;
    justify-content: space-between;
   
    
    
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

.right, .left {
    display: flex;
    align-items: center;
    gap: 16px;
    
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    gap: 40px;
    list-style-type: none;

}

.maintext, .subtext {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.maintext {
    font-size: 48px;
    font-weight: bolder;
}

.subtext {
    font-size: 18px;
    display: flex;
    width: 400px;
}

button {
    font-weight: bold;
    background-color: #3882F6;
    font-size: 18px;
    margin-top: 10px;
    width: 130px;
    height: 40px;
    color: white;
    
}

.header-2 {
    
    display: flex;
    justify-content: space-between;
}



.header, .header-2 {
    margin: 0 200px;
}

.above {
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin: 50px;
}
.below-boxes {
    display: flex;
    justify-content: center;
}

.box1, .box2, .box3, .box4 {
    background-color: white;
    border: solid 5px #3882F6;
    margin: 0 30px;   
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.below-text {
    display: flex;
    justify-content: center;
}
.one, .two, .three, .four {
    display:flex;
    flex-wrap: wrap;
    width: 200px;
    margin: 10px 30px;
}